@charset "UTF-8";
    /* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

    /* Definição de variaveis globais */
* {
    --roxo_escuro: #3F1140;
    --roxo_claro: #551073;
    --mostarda: #f2ac29;
    --vermelho_escuro: #731007;
    --vermelho_claro: #D92211;
    --font-padrao: 'Poppins', sans-serif;
}

body {
    background: var(--mostarda);
    font-family: var(--font-padrao);
}

header {
    color: #FEFEFE;
    text-align: center;
}

.numerosSort {
    width: auto;
    height: 400px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 1px white;
    text-align: center;
    font-weight: 20px;
    background: var(--roxo_claro);
}

.numerosSort h2 {
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    color: white;

}

.sort {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px 20px;
    box-shadow: 4px 1px 5px #3F1140;
    display: inline-block;
    background: #FEFEFE;
}

section #buttonSort {
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: white;
    color: #3F1140;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
}